:root {
  --background-color: rgb(0, 0, 0); /* Globally sets the background color of the page */
  --image-spacing: 0.5rem; /* Space between slider images */
  --slider-height: 60vmin; /* Height of the image slider */
  --aspect-ratio: 3 / 2; /* Aspect ratio for the images */
  --scrollbar-width: auto; /* Slider scrollbar styling */

  overscroll-behavior: none; /* Prevent over-scrolling on iOS and smoothen UX */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

/* Main wrapper for the slider */
.slider {
  position: fixed; /* Center the slider on the screen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  overflow: hidden;
  white-space: nowrap;
  scrollbar-width: var(--scrollbar-width); /* Native scrollbar style */

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  & .slider-independent {
    width: max-content;
    display: flex;
    gap: var(--image-spacing);
    height: var(--slider-height);
    will-change: transform; /* Optimized for animation performance */

    .img {
      aspect-ratio: var(--aspect-ratio);
      background-size: cover;
      background-position: center;
    }

    /* Per-image styling using IDs */
    #img-1 {
      background-image: url("https://picsum.photos/id/171/1000/600");
    }

    #img-2 {
      background-image: url("https://picsum.photos/id/122/1000/600");
    }

    #img-3 {
      background-image: url("https://picsum.photos/id/182/1000/600");
    }

    #img-4 {
      background-image: url("https://picsum.photos/id/249/1000/600");
    }

    #img-5 {
      background-image: url("https://picsum.photos/id/274/1000/600");
    }

    #img-6 {
      background-image: url("https://picsum.photos/id/391/1000/600");
    }

    #img-7 {
      background-image: url("https://picsum.photos/id/1033/1000/600");
    }

    #img-8 {
      background-image: url("https://picsum.photos/id/436/1000/600");
    }

    #img-9 {
      background-image: url("https://picsum.photos/id/1081/1000/600");
    }
  }
}

